version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: aglomerare_sali_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: aglomerare_sali
      MYSQL_USER: devuser
      MYSQL_PASSWORD: devpass
    ports:
      - "3306:3306"
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
